/*---------- GRAPHS ----------*/
.dashboard{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gauges{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.chart.timeseries{
    width:1000px;
}