/*---------- POST ----------*/
.blog{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    max-width:75%
}
.articles{
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
.article{
    margin-top:25px;
    display: flex;
}
.article-sample{
    margin-right:20px;
    /*cursor:pointer;*/
    /*margin-bottom:100px*/
    margin-top:25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.article-header{
    justify-content:space-between;
    flex:20%;
}

.img-post{
    max-width:500px;
    max-height:200px;
    /*float:left;*/
    margin: 5px;
}
.titre{
    /*max-width:500px;*/
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}
.article-body{
    /*white-space: pre-wrap;*/
    /*margin-top:10px;*/
    margin-left:10px;
    text-align: left;
    flex:80%;
}

.article-edit{
    /*border:1px solid;*/
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    lign-items: center;
    justify-content: space-around;
}
.article-edit div{
    /*border:1px solid;*/
    /*background-color: #6ea8fe;*/
}

.article-stamps{

}

p.article-author, p.article-date, p.article-update{
    margin-bottom: 10px;
}

.create{
    text-align:left;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.paragraphe{
    margin-top:25px;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*max-width:75%*/
}

textarea {
    padding: 5px;
}

.form-group{
    margin: 10px 0 0 10px;
    padding: 0 10px 0 0;
}

.form-group button{
    padding: 10px;
}