@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration:none;
    color:#000;
    font-family: 'Lato', sans-serif;
}

/* Low-Tech Lab Color palette
Blumine
#1E6284

Pear
#E2D437

Nepal
#84A4B9

Regal Blue
#04386C
*/


/*---------- BODY ----------*/

.content {
    align-content: space-evenly;
    text-align: center;
    /*padding-top: 3%;*/
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.content-parallax{
    background:url(/static/ressource/diy.jpg) no-repeat fixed center;
    background-size:cover;
    height:100px
}
.justified{
    text-align: justify;
}

.presentation{
    font-size:-webkit-xxx-large;
    text-align:center;
    padding-top:15px;
    /*margin-bottom:30px;*/
    color:#fff;
    align-items: center;
    justify-content: center
}
.text_presentation{
    color:#000;
    font-size:large;
    text-align:center;
    padding-top:3%;
    margin-left:auto;
    margin-right:auto;
    width:95%
}

.btn{
    border:1px solid;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    font-size: small;
    background-color: #1E6284;
    color: white;
}

.btn:hover{
    background-color: #E2D437;
    color: black;
}

/*---------- NAVBAR ----------*/

header{
    color:#000
}
.dropdown{
    position:relative
}
.dropdown select{
    background:no-repeat center
}
#colorFilterSelect{
    /*position:relative;*/
    top:100%;
    left:-100px;
    width:35px;
    height:35px;
    background:#fff url('/static/ressource/oeil.svg');
    border:0px solid #fff;
    z-index:1;
    font-size:0;
    background-size:35px 35px
}
#colorFilterSelect option{
    font-size:16px
}
.dropdown:hover #colorFilterSelect{
    display:block
}
.dropdown-arrow{
    display:none
}
.select-dropdown{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.bool-button{
    position:relative;
    width:30px;
    height:30px;
    margin-right:10px
}
.bool-toggle{
    display:none
}
.bool-label{
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:30px;
    background-color:#ccc;
    border-radius:50%;
    cursor:pointer
}
.bool-label::after{
    position:absolute;
    top:50%;
    left:35px;
    transform:translateY(-50%);
    font-size:14px;
    color:#000;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.3s
}
.bool-label:hover::after{
    opacity:1
}
.bool-toggle:checked+.bool-label{
    background-color:#1C2833
}
.bool-toggle:checked+.bool-label:before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:12px;
    height:12px;
    background-color:#fff;
    border-radius:50%
}
#etatContainer{
    display:none
}
.sigle{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.sigle img{
    max-height:125px;
}
.sigle div{
    display: flex;
    align-items: center;
    align-content: center;
}

.sigle h1{
    font-size:40px;
    /*margin-right:210px*/
}
.menu{
    display:flex;
    justify-content:center;
    font-size:25px;
    padding:10px;
    position:-webkit-sticky;
    position:sticky;
    margin-top:-20px
}

.menu a{
    /*border:solid;*/
    border-radius:10px;
    padding:7px;
    margin: 0 5px 0 5px;
}
.menu a:hover{
    background-color:#1C2833;
    color:#fff;
    transition:.2s
}
.menu a.active{
    border: solid;
}

.flash{
    width:100%;
    text-align: center;
}

.alert-danger{
    font-weight: bold;
    color: red;
}

/*---------- FOOTER ----------*/
footer{
    margin-top:5%;
    background-color:#F2F3F4;
    /*position: absolute;*/
    /*bottom: 0;*/
    width:100%;
}
.footer{
    display:flex;
    justify-content:space-between;
    margin-left:5%;
    margin-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    font-size: medium;
}
.plan_site,.sociaux,.coordonnes,.users{
    max-width:25%
}
.bottomright{
    position:fixed;
    right:10px;
    bottom:10px;
    width:20px;
    height:40px;
    background-color:transparent;
    padding:5px;
    z-index: 9999;
}
/*---------- MISC ----------*/
