/*---------- LOGIN/SUBSCRIBE ----------*/
.formulaire{
    display:flex;
    justify-content:space-evenly;
    align-items:center
}

form.account{
    margin-top:20px;
    background-color:#f2f2f2;
    padding:15px 20px;
    border-radius:15px
}

form h1{
    text-align:center;
    font-size:2vw;
    padding-bottom: 10px;
}
.inputs{
    display:flex;
    flex-direction:column
}
form .inputs input[type="email"],input[type="password"],input[type="text"]{
    padding:15px;
    border-radius:10px;
    border:none;
    margin-bottom:15px;
    outline:0
}
form p{
    margin-bottom:10px;
    color:#878787
}
form button{
    padding:15px 25px;
    border:none;
    border-radius:5px;
    font-size:15px;
    background-color:#fff;
    cursor:pointer;
    outline:0
}

/*---------- ADMIN ----------*/

table.users{
    margin: 0 auto;

    border: 1px solid;
    border-collapse: collapse;

    text-align: left;
    width: 100%;
}

table.users thead th,
table.users tfoot th {
    color: #FFF;
    background: rgba(31,98,130,1);
    min-width: 120px;
}

table.users caption {
  padding:.5em;
}
table.users th,
table.users td {
    padding: .5em;
    border: 1px solid lightgrey;
}

table.users tbody tr:nth-of-type(even) {
    background: rgba(225,210,37,.05);
}
table.users tbody tr:nth-of-type(odd) {
    background: rgba(31,98,130,.05);
}

.legend {
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    font-size: small;
}
.legend ol {
    padding-left:50px;
}