<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: A Propos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
</head>

<body>

    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="content-parallax">
        <h1 class="presentation">C'est quoi le Low-Tech ?</h1>
    </div>
    <div class="content justified">
        <zero-md>
          <script type="text/markdown" data-dedent>
            Le mouvement low-tech est une approche qui met l'accent sur l'utilisation de solutions simples, durables et
            accessibles pour répondre aux besoins de base de la vie quotidienne. Le terme "low-tech" fait référence à une
            technologie minimaliste et non complexe, souvent inspirée par des méthodes et des savoir-faire traditionnels.

            Les adeptes du mouvement low-tech cherchent à promouvoir une transition vers des modes de vie plus durables, en
            limitant l'empreinte écologique et en favorisant l'autonomie des individus. Plutôt que de dépendre de technologies
            de pointe souvent coûteuses et énergivores, ils privilégient des alternatives simples et accessibles.

            Dans le domaine de l'énergie, le low-tech encourage l'utilisation de sources d'énergie renouvelable telles que
            l'énergie solaire et éolienne, ainsi que des techniques d'efficacité énergétique pour réduire la consommation.
            Par exemple, l'utilisation de panneaux solaires pour produire de l'électricité ou de poêles à bois pour le
            chauffage.En ce qui concerne l'agriculture, le low-tech met l'accent sur des méthodes biologiques et respectueuses
            de l'environnement, telles que la permaculture, l'agroforesterie et l'agriculture urbaine. Les techniques de culture
            traditionnelles, l'utilisation de semences locales et la rotation des cultures sont également encouragées.
            Dans le domaine de la construction, le low-tech favorise l'utilisation de matériaux durables et facilement
            disponibles, tels que le bois, la pierre et la terre. Les techniques de construction traditionnelles, telles que
            l'architecture en terre crue, sont valorisées pour leur efficacité énergétique et leur faible impact environnemental.

            Le low-tech s'étend également aux domaines de l'alimentation, du transport, de la santé et de l'éducation. Dans
            tous ces domaines, l'approche low-tech vise à promouvoir des solutions simples, économiques et écologiques,
            accessibles à tous, tout en réduisant notre dépendance aux technologies complexes et coûteuses.

            En somme, le mouvement low-tech incarne une philosophie de simplicité, de durabilité et d'autonomie, en mettant
            l'accent sur des solutions pratiques et accessibles pour un mode de vie plus respectueux de l'environnement.
          </script>
        </zero-md>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>

</html>