<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Gestion des comptes utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/user.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="content">
        <form id="users_table">
            <table id="Mapped table" class="users">
                <caption>Liste des utilisateurs</caption>
                <thead>
                    <tr>
                        {% for col in column_names %}
                        {% if col != 'Delta' %}
                        <th>{{col}}</th>
                        {% endif %}
                        {% endfor %}
                        {% if has_role('admin') %}
                        <th>Danger zone</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr id="row-user-{{row['id']}}">
                        {% for key, val in row.items() %}
                        {% if key == link_column %}
                        <td>
                            <select class="dropbtn" data-user-id="{{ row['id'] }}">
                            {% for choice in choices %}
                                <option value={{ choice[0] }}
                                {% if choice[0] == val %} selected {% endif %}>
                                {{ choice[1] }}
                                </option>
                            {% endfor %}
                            </select>
                        </td>
                        {% elif key == 'registration_date' %}
                        <td>
                            {{ val|format_datetime('full') }}
                        </td>
                        {% elif key == 'last_connection' %}
                        <td>
                            Il y a {{ row['days_since_last_connection']|format_timedelta('day') }}
                            ({{ val|format_datetime('short') }})
                        </td>
                        {% elif key != 'days_since_last_connection' %}
                        <td>
                            {{ val }}
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% if has_role('admin') %}
                        <td>
                            <input type="button" value="Supprimer" data-user-id="{{ row['id'] }}" class="suppress">
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

        <div class="legend">
        <h3>Détails des privilèges pour les rôles:</h3>
        <p>Rq: Les privilèges se cumulent</p>
        <ol>
            <li><b>Read</b>: Peut lire tout le contenu du site</li>
            <li><b>Write</b>: Peut écrire un article de blog puis le modifier ou le supprimer</li>
            <li><b>Maintain</b>: Peut modifier ou supprimer n'importe quel article</li>
            <li><b>Triage</b>: Peut voir la liste des utilisateurs et modifier le rôle de n'importe lequel</li>
            <li><b>Admin</b>: Peut supprimer un utilisateur</li>
        </ol>
        </div>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>


    <script>
        let els_chg = document.getElementsByClassName("dropbtn");
        Array.from(els_chg).forEach(function (element) {
            element.addEventListener("change", function() {
                let data = {
                    'userId': this.dataset.userId,
                    'new_role': this.value,
                };
                let url = {{ url_for("admin.users")|tojson }};
                fetch(url, {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    alert(data['msg']);
                })
                {#console.log(text + " = " + value + " for user id: " + user_id);#}
            });
        });

        {% if has_role('admin') %}

        let els_del = document.getElementsByClassName("suppress");
        Array.from(els_del).forEach(function (element) {
            element.addEventListener("click", function() {
                let data = {
                    'userId': this.dataset.userId,
                };
                if (confirm("Etes-vous sûr(e) de vouloir supprimer ce compte ?") == true) {
                    let url = {{ url_for("user.delete")|tojson }};
                    fetch(url, {
                        method: "POST",
                        body: JSON.stringify(data),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data['msg']);
                            if (data['status'] == true) {
                                document.getElementById("row-user-" + data['userId']).remove();
                            }
                            ;
                        })
                } else {
                    console.log("Operation annullee");
                }
                {#console.log(text + " = " + value + " for user id: " + user_id);#}
            });
        });

        {% endif %}

    </script>

</body>
</html>
