<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: {{ post['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/post.css')}} ">
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="blog">
        <div class="article">
            <div class="article-header">
                <div class="article-stamps">
                    <p class="article-author">Par <span style="font-weight: bold">{{ post['author']['prenom'] }} {{ post['author']['nom'] }}</span> </p>
                    <p class="article-date">{{ post['created']|format_datetime('full') }}</p>
                    {% if post['created']|format_datetime('full') != post['modified']|format_datetime('full') %}
                    <p class="article-update">Mis à jour le {{ post['modified']|format_datetime('full') }}
                        {% if post['modifier']['email'] != post['author']['email'] %} par {{ post['modifier']['prenom'] }} {{ post['modifier']['nom'] }}{% endif %}
                    </p>
                    {% endif %}
                </div>
                <div class="article-edit">
                    {% if can_modify %}
                    <a  class="btn" href="{{ url_for('article.edit', post_id=post['id']) }}">Modifier</a>
                    {% endif %}
                    {% if can_suppr %}
                    <div>
                    <form action="{{ url_for('article.delete', post_id=post['id']) }}" method="POST">
                        <input type="submit" value="Supprimer"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('Etes-vous sûr de vouloir supprimer cet article ?')">
                    </form>
                    </div>
                    {% endif %}
                </div>
                {% if post['miniature'] %}
                <img src="{{ post['miniature'] }}" class="img-post">
                {% endif %}
            </div>
            <div class="article-body">
                <h2 class="titre">{% block title %} {{ post['title'] }} {% endblock %}</h2>
                <p class="paragraphe">
                    <zero-md>
                      <script type="text/markdown" data-dedent>
                            {{ post['content'] }}
                      </script>
                    </zero-md>
                </p>
            </div>
        </div>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>
</body>
</html>