<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Nouvel Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/post.css')}} ">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<body>

    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="create">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" name="title" size="50"
                        placeholder="Entrer un titre" class="form-control"
                        value="{{ request.form['title'] }}">
            </div>
            <div class="form-group">
                <label for="miniature">Sélectionnez une photo pour la miniature: </label>
                <input type="file" id="miniature" name="miniature" accept=".jpg, .jpeg, .png"
                value="{{ request.form['miniature'] }}">
            </div>
            <div class="form-group">
                <textarea name="content" placeholder="Entrer le contenu" rows="25" cols="150"
                class="form-control">{{ request.form['content'] }}</textarea>
                <br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Publier</button>
            </div>
        </form>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

    <script>
        var simplemde = new SimpleMDE();
    </script>

</body>

</html>