<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Edition {{ post['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/post.css')}} ">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="create">
        <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Titre:</label>
                <input type="text" name="title" placeholder="Post title"
                    class="form-control" size="50"
                    value="{{ request.form['title'] or post['title'] }}">
            </div>
            <div class="form-group">
                <label for="miniature">Mettre à jour la miniature: </label>
                <input type="file" id="miniature" name="miniature" accept=".jpg, .jpeg, .png"
                value="{{ request.form['miniature'] }}">
            </div>
            <div class="form-group">
                <textarea name="content" placeholder="Post content" rows="25" cols="150"
                        class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Mettre à jour</button>
            </div>
        </form>
        <form action="{{ url_for('article.delete_image', post_id=post['id']) }}" method="POST">
            <div class="form-group">
            <button class="btn" type="submit" onclick="return confirm('Etes-vous sûr de vouloir supprimer l''image de cet article ?')">Supprimer l'image uniquement</button>
            </div>
        </form>
        <form action="{{ url_for('article.delete', post_id=post['id']) }}" method="POST">
            <div class="form-group">
            <button class="btn" type="submit" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet article ?')">Supprimer l'article</button>
            </div>
        </form>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

    <script>
        var simplemde = new SimpleMDE();
    </script>
</body>

</html>