<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Articles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/post.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="blog">
        <div>
        {% if can_write %}
        <a class="btn" href="create">Ecrire un article</a>
        {% endif %}
        </div>

        <div class="articles">
            {% for post in posts %}
            <div class="article-sample">
                <a href="{{ url_for('article.display', post_id=post['id']) }}">
                    {% if post['miniature'] %}
                    <div>
                        <img src={{ post['miniature'] }} class="img-post">
                    </div>
                    {% else %}
                    <div>
                        <img src="{{url_for('static', filename='ressource/logo_remov.png')}}" class="img-post">
                    </div>
                    {% endif %}
                    <div>
                        <h2 class="titre">{{ post['title'] }}</h2>
                    </div>
                    <div>
                        <span class="badge badge-primary">{{ post['created']|format_datetime('medium') }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>
</body>

</html>