<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Système</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css')}} ">
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>

</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="content dashboard">
        <div class="paragraphe justified" style="max-width: 1000px">
            <zero-md>
            <script type="text/markdown" data-dedent>
            Dans la continuité du travail des etudiants [en BTS du lycee de la Croix Rouge a Brest](https://www.lacroixrouge-brest.fr/ecoles-formations/enseignement-superieur/bts-systemes-numeriques/)
            au printemps 2023, nous ambitionnons d'héberger notre site web sur un serveur installé sur un raspberry et alimenté par un panneau solaire.
            Nous nous inspirons du site du [Low-Tech Magazine](https://solar.lowtechmagazine.com/fr/2023/06/rebuilding-a-solar-powered-website/) même
            si pour l'instant notre démarche ne consiste pas à générer un site statique mais à travailler sur la technologie solaire côté serveur.
            </script>
            </zero-md>
        </div>
        <div class="gauges">
            <div id="gauge_cpu"></div>
            <div id="gauge_bat"></div>
        </div>
        <div id='hist_batterie' class='chart timeseries'></div>
        <div id='hist_cpu' class='chart timeseries'></div>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js')}} "></script>

    <script type="text/javascript">
        var refresh_rate = 10;

        draw_a_gauge(['cpu', 'CPU'], 'red', 'gauge_cpu', refresh_rate, {{ url_for("api.read_gauges") | tojson }});
        draw_a_gauge(['pourcentage_BAT', 'Batterie'], 'green', 'gauge_bat', refresh_rate, {{ url_for("api.read_gauges") | tojson }});

        draw_a_timeseries(['pourcentage_BAT', 'Historique de charge de la batterie'], [0, 105], 'hist_batterie', refresh_rate, {{ url_for("api.read_sensors") | tojson }});
        draw_a_timeseries(['cpu', 'Historique du CPU'], [0, 105], 'hist_cpu', refresh_rate, {{ url_for("api.read_server") | tojson }});
    </script>

</body>
</html>