<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Erreur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="content">
        <h1 style="color:rgba(225,210,37)">Une erreur est survenue !</h1>
        <p style="font-size: larger; margin-top:10px">{{ msg | safe }}</p>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>
</html>
