<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
</head>

<body>

    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="alert alert-danger">{{ msg }}</div>

    <div class="content-parallax">
        <h1 class="presentation">Présentation</h1>
    </div>

    <div class="content">
        <zero-md>
            <script type="text/markdown" data-dedent>
            L'association est fondée en 2021.

            Notre principale mission est de découvrir, échanger et propager sur les initiatives Low-tech dans le bassin Brestois.

            N'hésitez pas à partager vos découvertes dans le [wiki collaboratif](https://wiki.lowtechlab.org/wiki/Group:Low-tech_Lab).

            Vous pouvez nous retrouver également sur les réseaux sociaux Instagram, LinkedIn et Facebook.
            </script>
        </zero-md>
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>

</html>