<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <div class="content">
    </div>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>
</body>
</html>