<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Compte utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/user.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <section class="formulaire">

        <form action="{{ url_for('user.edit') }}" method="POST" class="account">
            <h1>Votre compte:</h1>
    
            <div class="inputs">
                <input type="email" name="email" placeholder="Email" id="email" required value="{{account['email']}}">
                <input type="text" name="nom" placeholder="Nom" id="nom" required value="{{account['nom']}}">
                <input type="text" name="prenom" placeholder="Prenom" id="prenom" required value="{{account['prenom']}}">
                <input class="btn" type="submit" value="Modifier">
            </div>
            <br>
            <p>Informations internes:
            <ul>
                <li>Date de création du compte: {{ account['registration_date'][0:16] }}</li>
                <li>Dernière connection: {{ account['last_connection'][0:16] }}</li>
                <li>Type de compte: "{{ account['role'] }}"</li>
            </ul>
            </p>
        </form>
        <form action="{{ url_for('user.delete') }}" method="POST" class="account">
            <h1>Zone de danger</h1>
            <input type="email" name="email" value="{{account['email']}}" hidden>
            <input type="submit" value="Supprimer son compte" class="btn btn-danger btn-sm"
                onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer votre compte ?')">
        </form>
    </section>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>
</html>
