<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Créer un compte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/user.css')}} ">

    <script src="https://kit.fontawesome.com/6d4b55bdfe.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <section class="formulaire">
        <form action="{{ url_for('user.register') }}" method="POST" autocomplete="off" class="account">
            <h1>S'inscrire</h1>
            <div class="inputs">
                <input type="email" name="email" placeholder="Email" id="email" required>
                <input type="text" name="nom" placeholder="Nom" id="nom" required>
                <input type="text" name="prenom" placeholder="Prenom" id="prenom" required>
                <input type="password" name="mdp" placeholder="Mot de passe" id="mdp" required>
                <input class="btn" type="submit" value="S'inscrire">
            </div>
        </form>
    </section>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>

</html>