<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-Tech Lab Brest: Se connecter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/user.css')}} ">
</head>

<body>
    <header>
    {% include "partials/_navbar.html" %}
    </header>

    <section class="formulaire">
        <form action="{{ url_for('user.login') }}" method="POST" class="account">
            <h1>Se Connecter</h1>
            <div class="inputs">
                <input type="email" name="email" placeholder="Email" id="Email" required>
                <input type="password" name="mdp" placeholder="Mot de passe" id="mdp" required>
                <div class="msg">{{ msg }}</div>
                <input class="btn" type="submit" value="Se connecter">
            </div>
            <br>
            <p>Je n'ai pas de compte.<a href="{{ url_for('user.register') }}"> Je m'en crée un.</a></p>
        </form>
    </section>

    <footer>
    {% include "partials/_footer.html" %}
    </footer>

</body>

</html>