<div class="footer">
    <div class="plan_site">
        <h2>Plan du site</h2>
        <ul>
            <li><a href="{{ url_for('main.home') }}">Accueil</a></li>
            <li><a href="{{ url_for('blog.display') }}">Articles</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="{{ url_for('main.a_propos') }}">C'est quoi le Low-Tech ?</a></li>
            <li><a href="{{ url_for('dashboard.display') }}">Serveur solaire</a></li>
        </ul>
    </div>

    <div class="coordonnes">
        <h2>Coordonnées</h2>
        <ul>
            <li>bonjour@lowtechlabbrest.org</li>
            <li><a target="_blank" href="https://www.openstreetmap.org/?mlat=48.41394&mlon=-4.46169#map=19/48.41394/-4.46169">13 rue Maupertuis, 29200 Brest</a></li>
        </ul>
    </div>

    <div class="sociaux">
        <h2>Réseaux sociaux</h2>
        <ul>
            <li> <a href="https://discord.gg/2MS25eYT">Discord</a></li>
            <li> <a href="https://www.instagram.com/low_tech_lab_brest/">Instagram</a></li>
            <li> <a href="https://www.linkedin.com/company/low-tech-lab-brest/?originalSubdomain=fr">LinkedIn</a></li>
            <li> <a href="https://www.facebook.com/lowtechlabbrest/">Facebook</a> </li>
        </ul>
    </div>

    <div class="users">
        <h2>Utilisateur</h2>
        <ul>
            {% if session['loggedin'] %}
              <li>{{ session['name'] }} - {{ session['role'] }}</li>
              <li><a href="{{ url_for('user.account') }}">Gérer son compte</a></li>
              <li><a href="{{ url_for('user.logout') }}">Se déconnecter</a></li>
            {% else %}
              <li><a href="{{ url_for('user.login') }}">Se connecter</a> ou <a href="{{ url_for('user.register') }}">Créer un compte</a></li>
            {% endif %}
            {% if has_role('triage') %}
            <li><a href="{{ url_for('admin.users') }}">Gestion des utilisateurs</a></li>
            {% endif %}
        </ul>
    </div>


    <div class="bottomright">
      <img id="battery-image" src="{{
        url_for('static', filename='ressource/low.png')
      }}" width="30" height="30">
    </div>

    {% if pourcent_battery_recupere is not none %}
    {% if pourcent_battery_recupere >= 80 %}
      <script>
        var batteryImg = document.getElementById("battery-image");
        batteryImg.src = "{{url_for('static',filename='ressource/high.png')}}";
      </script>
    {% elif pourcent_battery_recupere >= 40 and pourcent_battery_recupere <= 80 %}
      <script>
        var batteryImg = document.getElementById("battery-image");
        batteryImg.src = "{{url_for('static',filename='ressource/medium.png')}}";
      </script>
    {% else %}
      <script>
        var batteryImg = document.getElementById("battery-image");
        batteryImg.src = "{{url_for('static',filename='ressource/low.png')}}";
      </script>
    {% endif %}
    {% endif %}

</div>
