<script>
    var set_view = function(show_lr){
        show_lr = "" + show_lr;
        var etatContainer = document.getElementById('etatContainer');
        var boolToggle = document.getElementById('boolToggle');
        let boolValue = show_lr.toLowerCase() === 'true' || show_lr.toLowerCase() === '1';
        etatContainer.innerHTML = boolValue;
        // boolToggle.value is the parameter used when sending a request to change resolution
        // so it's negative to the check state
        if (boolValue) {
            boolToggle.checked = "";
            {#document.getElementsByClassName('bool-label')[0].innerHTML = "Passer en haute qualité d'image";#}
        } else {
            {#boolToggle.value = "false"#}
            boolToggle.checked = "checked";
            {#document.getElementsByClassName('bool-label')[0].innerHTML = "Passer en basse qualité d'image";#}
        }
    }

    var update_view = function(responseText){
        set_view(JSON.parse(responseText)['lr']);
    }

    var get_img_res = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            if (this.status == 200) {
                update_view(this.responseText);
            } else {
                console.error('Erreur lors de la requête AJAX');
            }
        };
        xhttp.onerror = (e) => {
            console.error(xhttp.statusText);
        };
        xhttp.open("GET", "{{ url_for('api.image_quality') }}", true);
        xhttp.send();
    };

    var set_img_res = function(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE) {
              if (this.status === 200) {
                location.reload();
              } else {
                console.error('Erreur lors de la requête AJAX');
              }
            }
        };
        var new_value;
        if (document.getElementById('boolToggle').checked){
            new_value = "False";
        } else {
            new_value = "True";
        }
        xhttp.open('GET', '{{ url_for('api.image_quality') }}?lr=' + new_value);
        xhttp.send();
    };

    //
    const body = document.querySelector('body');
    body.onload = function (){
        get_img_res();
        document.getElementById('boolToggle').addEventListener('change', function() {
            set_img_res();
        });
    }
    //



</script>
<div id="etatContainer"></div>
<nav class="sigle">
  <img src="{{url_for('static', filename='ressource/logo_remov.png')}}">
  <h1>Low-Tech Lab de Brest</h1>
  <div style="display: flex">
      <div class="bool-button">
        <input type="checkbox" id="boolToggle" class="bool-toggle" />
        <label for="boolToggle" class="bool-label"></label>
      </div>
      <div class="dropdown">
          <select id="colorFilterSelect" class="select-dropdown">
            <option>Vision couleur</option>
            <option>Protanopie</option>
            <option>Protanomalie</option>
            <option>Deutéranopie</option>
            <option>Deutéranomalie</option>
            <option>Tritanopie</option>
            <option>Tritanomalie</option>
            <option>Achromatomalie</option>
          </select>
          <span class="dropdown-arrow"></span>
      </div>
  </div>

</nav>

<div class="menu">
    <a href="{{ url_for('main.home') }}"  {% if active == 'home' %} class="active" {% endif %}>Accueil</a>
    <a href="{{ url_for('blog.display') }}" {% if active == 'blog' %} class="active" {% endif %}>Articles</a>
    <a href="#">Agenda</a>
    <a href="#">Projets</a>
    <a href="{{ url_for('main.a_propos') }}" {% if active == 'a_propos' %} class="active" {% endif %}>C'est quoi le Low-tech ?</a>
    <a href="{{ url_for('dashboard.display') }}" {% if active == 'dashboard' %} class="active" {% endif %}>Serveur solaire</a>
</div>

{% for message in get_flashed_messages() %}
<div class="flash alert alert-danger">{{ message }}</div>
{% endfor %}


<svg style="display: none">
    <defs>
    <filter id="protanopiaColourMatrix"> <!--id du filtre-->
    <feColorMatrix
        type="matrix"
        values=".56667 .43333 0      0 0
                .55833 .44167 0      0 0
                0      .24167 .75833 0 0
                0      0      0      1 0" /> <!--matrice de couleur relative à la protanopia (nom anglais)-->
    </filter>
    <filter id="protanomalyColourMatrix">
        <feColorMatrix
        type="matrix"
        values=".81667 .18333 0    0 0
                .33333 .66667 0    0 0
                0      .125   .875 0 0
                0      0      0    1 0" />
    </filter>
    <filter id="deuteranopiaColourMatrix"> <!--id du filtre-->
    <feColorMatrix
        type="matrix"
        values=".625 .375 0  0 0
                .7   .3   0  0 0
                0    .3   .7 0 0
                0    0    0  1 0" /> <!--matrice de couleur relative à la deuteranopia (nom anglais)-->
    </filter>
    <filter id="deutranomalyColourMatrix"> <!--id du filtre-->
    <feColorMatrix
        type="matrix"
        values=".8     .2     0      0 0
                .25833 .74167 0      0 0
                0      .14167 .85833 0 0
                0      0      0      1 0" /> <!--matrice de couleur relative à la deutranomaly (nom anglais)-->
    </filter>
    <filter id="tritanopiaColourMatrix"> <!--id du filtre-->
    <feColorMatrix
        type="matrix"
        values=".95 .5     0      0 0
                0   .43333 .56667 0 0
                0   .475   .525   0 0
                0   0      0      1 0" /> <!--matrice de couleur relative à la tritanopia (nom anglais)-->
    </filter>
    <filter id="tritanomalyColourMatrix"> <!--id du filtre-->
    <feColorMatrix
        type="matrix"
        values=".96667 .3333  0      0 0
                0      .73333 .26667 0 0
                0      .18333 .81667 0 0
                0      0      0      1 0" /> <!--matrice de couleur relative à la tritanomaly (nom anglais)-->
    </filter>
    <filter id="achromatomalyColourMatrix"> <!--id du filtre-->
        <feColorMatrix
            type="matrix"
            values=".618 .32  .62  0 0
                    .163 .775 .62  0 0
                    .163 .320 .516 0 0
                    0    0    0    1 0" /> <!--matrice de couleur relative à l'achromatomaly (nom anglais)-->
    </filter>
    </defs>
</svg>

<script>
var CONTENU = document.body;
var select = document.getElementById("colorFilterSelect"); /* REGARDE CE QUI EST SELECTIONNEE DANS LE BOUTTON colorFilterSelec */
select.addEventListener("change", function() { /* ECOUTE S'IL Y A DU CHANGEMENT DANS select SI OUI IL EFFECTUE FONCTION DEFINIE EN DESSOUS */
  if (select.value === "Protanopie") {
    CONTENU.style.filter = "url(#protanopiaColourMatrix)";
  } else if (select.value === "Protanomalie") {
    CONTENU.style.filter = "url(#protanomalyColourMatrix)";
  } else if (select.value === "Deutéranopie") {
    CONTENU.style.filter = "url(#deuteranopiaColourMatrix)";
  } else if (select.value === "Deutéranomalie") {               /* TEST DE LA VALEUR DE select */
    CONTENU.style.filter = "url(#deutranomalyColourMatrix)";  /* APPLIQUE AUX div d'ID "CONTENU" LE FILTRE D'URL DONNEE */
  } else if (select.value === "Tritanopie") {
    CONTENU.style.filter = "url(#tritanopiaColourMatrix)";
  } else if (select.value === "Tritanomalie") {
    CONTENU.style.filter = "url(#tritanomalyColourMatrix)";
  } else if (select.value === "Achromatopsie") {
    CONTENU.style.filter = "url(#achromatopsiaColourMatrix)";
  } else {
    CONTENU.style.filter = "none";
  }
});
</script>